<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Seed Bank FSG</title>
    <script type="text/javascript" src="/static/jquery.min.js"></script>    
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Custom Seed Bank FSG</h1>
    <p>The basic filter (for all seeds here) is a ruined portal WITH LOOTING SWORD, a lighter (flint and steel OR fire charge), a bastion in pos/pos of the nether, a fortress nearby, blind travel to deep-ocean stronghold from the close fortress at either (150,-150) OR (-150,150).</p>
    <p>There are 7 ADDITIONAL filters: no-crying OR lava-type, 3+ iron in chest, golden axe in chest, food in chest, bastion type, nearby village, nearby shipwreck.</p>
    <p>No matter what you filter for this takes the same amount of time, BUT if your filter is too heavy I'll reject it because there just aren't enough seeds in the universe for that to not kill the category.  When you select your filters I'll tell you the relative weight and approximate seed count in the bank, anything less than 140,000 seeds is too heavy.  At the bottom of this form I'll give you the codes for some existing FSG looting filters.  If you don't care for looting swords (because you're an OG) keep on using the older FSG filters or wait for the upcoming FSG-Speedrunning Client Integration.</p>
    
    <h3 id="rarity">Approx. Seed Count: <span id="weight">...</span></h3>
    <h2>Know Your Filter Code? Enter Here:</h2>
    <input type="text" id="hexcode" placeholder="Your filter's code">
    <button class="button" id="fetchseed">Generate A Seed</button>
    <h3 id="response"></h3>
    <h6 id="verification"></h6>
    <h2>OR make your own filter?</h2>
    <div id="customfilters">
      <h3>Filter 1: Lava-type portal OR Completable with Obi (no crying) OR EITHER</h3>
      <div>
        <input type="radio" id="lava" name="f1" value="lava">
        <label for="lava">Lava Portal</label>
      </div>
      <div>
        <input type="radio" id="nocry" name="f1" value="nocry" checked>
        <label for="nocry">Completable - No Crying</label>
      </div>
      <div>
        <input type="radio" id="either" name="f1" value="either">
        <label for="either">Either Type</label>
      </div>
      <h3>Filter 2: 3+ Iron in Portal Chest? (Heavy)</h3>
      <input id="f2" type="checkbox" class="switch">
      <label for="f2">3+ Iron?</label>
      <h3>Filter 3: Golden Axe in Portal Chest?</h3>
      <input id="f3" type="checkbox" class="switch" checked>
      <label for="f3">Golden Axe?</label>
      <h3>Filter 4: Food (Golden Apple or Carrots) in Portal Chest?</h3>
      <input id="f4" type="checkbox" class="switch">
      <label for="f4">Also Food?</label>
      <h3>Filter 5: Allowed Bastion Types? (must have at least 1)</h3>
      <input id="f50" type="checkbox" checked>
      <label for="f50">Housing?</label>     
      <input id="f51" type="checkbox" checked>
      <label for="f51">Stables?</label>     
      <input id="f52" type="checkbox" checked>
      <label for="f52">Treasure?</label>     
      <input id="f53" type="checkbox" checked>
      <label for="f53">Bridge?</label>
      <h3>Filter 6: Village?</h3>
      <input id="f6" type="checkbox" class="switch">
      <label for="f6">Village?</label>                    
      <h3>Filter 7: Shipwreck?</h3>
      <input id="f7" type="checkbox" class="switch">
      <label for="f7">Shipwreck?</label>
    </div>
    <h3>Your Resulting Filter Code Is:</h3>
    <h4 id="yourcode">...</h4>
    <script type="text/javascript" src="/static/script.js"></script>
  </body>
</html>